/* CSS Variables */
:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* Only for attributiion */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Global Styling */

body {
  font-family: 'Red Hat Text', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  padding: 1.5rem;
}

/* Card Styling */

.dessert-list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 1rem 0;
}
.dessert-image {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}
.dessert-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.dessert-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  /* font-size: 0.875rem; */
  background-color: white;
  border: solid 1px var(--red);
  border-radius: 9999px;
  font-weight: 600;
  color: var(--rose-700);
  cursor: pointer;
}
.dessert-button img {
  width: auto;
}
.dessert-category {
  color: var(--rose-500);
}
.dessert-name {
  color: var(--rose-700);
  font-size: 1rem;
  font-weight: 600;
}
.dessert-price {
  color: var(--red);
  font-weight: 600;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
